<div class="article-preview">
  <div class="article-meta">
    <a [routerLink]="['/profiles', article.author.username]">
      <img [src]="article.author.image" alt="user image">
    </a>
    <div class="info">
      <a [routerLink]="['/profiles', article.author.username]">
        {{article.author.username}}
      </a>
      <span class="date">{{article.createdAt | date:"MMMM d, YYYY"}}</span>
    </div>
    <div class="pull-xs-right">
      <mc-add-to-favorites [isFavorited]="article.favorited" [slug]="article.slug">
        <span class="favorited">{{article.favorited ? article.favoritesCount - 1 :
          article.favoritesCount}}</span>
        <span class="unfavorited">{{article.favorited ? article.favoritesCount : article.favoritesCount +
          1}}</span>
      </mc-add-to-favorites>
    </div>
  </div>
  <a [routerLink]="['/articles', article.slug]" class="preview-link">
    <h1>{{article.title}}</h1>
    <p>{{article.description}}</p>
    <mc-tag-list [tags]="article.tagList"></mc-tag-list>
  </a>
</div>