<div class="setting-page" *ngIf="currentUser">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Settings</h1>
        <mc-backend-errors-messages *ngIf="validationErrors$"
          [backendErrors]="validationErrors$ | async"></mc-backend-errors-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" formControlName="image"
                placeholder="URL of profile picture">
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" formControlName="username" placeholder="Username">
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" formControlName="bio" placeholder="Biography">
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" formControlName="email" placeholder="Email">
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" formControlName="password" placeholder="Password">
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit"
              [disabled]="form.valid || (isSubmitting$ | async)">Update
              settings</button>
          </fieldset>
        </form>

        <hr>

        <button class="btn outline-danger" type="text" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>